<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:iis="http://wixtoolset.org/schemas/v4/wxs/iis">
  <Fragment>
    <Binary Id="TelecomMitmCertificateBinary" SourceFile="Telecom-GoMITM-Root.cer" />
    <ComponentGroup Id="ClientFiles" Directory="INSTALLFOLDER">
      <Component Id="InstallFolderAcl" Guid="2F06E3D6-B884-4D89-B63F-E692FB45D51E" Bitness="always64">
        <CreateFolder>
          <PermissionEx Sddl="D:P(A;OICI;FA;;;SY)(A;OICI;FA;;;BA)(A;OICI;GRGX;;;BU)" />
        </CreateFolder>
      </Component>

      <Component Id="AgentService" Guid="9C616B69-09D6-4430-9B5E-E93994734695" Bitness="always64">
        <File Id="AgentExe" Source="overseas-agent.exe" KeyPath="yes" Checksum="yes" />
        <ServiceInstall
              Id="AgentServiceInstall"
              Name="RegenBioOverseasAccessAgent"
              DisplayName="RegenBio Overseas Access Agent"
              Description="Fail-closed RegenBio overseas-access controller"
              Type="ownProcess"
              Start="auto"
              ErrorControl="normal"
              Account="LocalSystem"
              Vital="yes">
            <util:ServiceConfig
                FirstFailureActionType="restart"
                SecondFailureActionType="restart"
                ThirdFailureActionType="restart"
                ResetPeriodInDays="1"
                RestartServiceDelayInSeconds="5" />
        </ServiceInstall>
        <ServiceControl
              Id="AgentServiceControl"
              Name="RegenBioOverseasAccessAgent"
              Stop="both"
              Start="install"
              Remove="uninstall"
              Wait="yes" />
      </Component>

      <Component Id="ClientUi" Guid="E22BA95A-6552-44AD-A61E-A8F21BE85A1C" Bitness="always64">
        <File Id="ClientExe" Source="overseas-client.exe" KeyPath="yes" Checksum="yes">
          <Shortcut
              Id="StartMenuShortcut"
              Directory="ProgramMenuFolder"
              Name="RegenBio Overseas Access"
              Description="Open RegenBio Overseas Access"
              WorkingDirectory="INSTALLFOLDER"
              Advertise="no" />
        </File>
      </Component>

      <Component Id="CoreRuntime" Guid="114DB7B9-FF83-4682-B2AC-411B9A6E6F36" Bitness="always64">
        <File Id="SingBoxExe" Source="sing-box.exe" KeyPath="yes" Checksum="yes" />
        <File Id="CoreManifest" Source="sing-box.manifest.json" Checksum="yes" />
        <File Id="CronetRuntime" Source="libcronet.dll" Checksum="yes" />
        <File Id="TunDriver" Source="wintun.dll" Checksum="yes" />
        <File Id="SingBoxLicense" Source="sing-box-LICENSE.txt" Checksum="yes" />
        <!-- Wintun Prebuilt Binaries License; keep the official license distinct. -->
        <File Id="WintunLicense" Source="wintun-LICENSE.txt" Checksum="yes" />
        <File Id="PocRootCert" Source="RegenBio-OverseasAccess-PoC-Root.cer" Checksum="yes" />
        <File Id="TelecomMitmCert" Source="Telecom-GoMITM-Root.cer" Checksum="yes" />
      </Component>
      <Component Id="TelecomMitmRootTrust" Guid="A6A99D6F-B4F9-43C4-91F4-3E1E167DF063" Bitness="always64">
        <RegistryValue Root="HKLM" Key="Software\RegenBio\OverseasAccess" Name="TelecomMitmRootManaged" Type="integer" Value="1" KeyPath="yes" />
        <iis:Certificate Id="TelecomMitmRootTrust" BinaryRef="TelecomMitmCertificateBinary" Name="Go MITM Root CA" StoreLocation="localMachine" StoreName="root" Vital="yes" />
      </Component>
      <Component Id="InstallerHarness" Guid="5AF50244-CB84-4B2D-80BD-B36315F29E54" Bitness="always64">
        <File Id="InstallerHarnessFile" Source="install-client.ps1" KeyPath="yes" Checksum="yes" />
        <File Id="InstallerVerifierFile" Source="installer-verifier.exe" Checksum="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ClientPolicy" Directory="DATAFOLDER">
      <Component Id="DataFolderAcl" Guid="4CF54659-6850-42C5-8564-54D62333A9D6" Bitness="always64">
        <CreateFolder>
          <PermissionEx Sddl="D:P(A;OICI;FA;;;SY)(A;OICI;FA;;;BA)" />
        </CreateFolder>
        <RemoveFile Id="RemoveOwnedRenderedConfig" Name="sing-box.json" On="uninstall" />
        <RemoveFile Id="RemoveRuntimeOwnershipLedger" Name="runtime-owned.json" On="uninstall" />
      </Component>
      <Component Id="SignedPolicy" Guid="119915E6-1504-4D49-9EF0-9D76454629C6" Bitness="always64">
        <File Id="AgentPolicy" Source="agent.yaml" KeyPath="yes" Checksum="yes" />
        <File Id="AgentPolicySignature" Source="agent.yaml.p7s" Checksum="yes" />
        <File Id="ArtifactManifest" Source="artifact-manifest.json" Checksum="yes" />
        <File Id="ArtifactManifestSignature" Source="artifact-manifest.json.p7s" Checksum="yes" />
        <File Id="ClientSbom" Source="client-sbom.json" Checksum="yes" />
        <File Id="PayloadChecksums" Source="SHA256SUMS" Checksum="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
